<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278287507199-23j0a87gf0gui43qdje39hq42l4poq6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278287507199-23j0a87gf0gui43qdje39hq42l4poq6r</string>
	<key>API_KEY</key>
	<string>AIzaSyAE_AcVgVuPisERFYwL3xj2q94dbZv83dY</string>
	<key>GCM_SENDER_ID</key>
	<string>278287507199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.barcodeGenerator</string>
	<key>PROJECT_ID</key>
	<string>centraldealuminiosdelvalle</string>
	<key>STORAGE_BUCKET</key>
	<string>centraldealuminiosdelvalle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278287507199:ios:84db91fb6cc656ca67b6ca</string>
</dict>
</plist>